.venv/
__pycache__/
runs/
.DS_Store
.env
*.md
logs/
*.zip
bench_out/
models/yolo26n_best_ncnn_model
models/yolo26n_best.onnx
yolo26n_best*.pt
raw/
raw_labels/
/data_detect
data_pose/
testcase/
venv/
src/models/
data/
cache/
mobile_sam.pt
.vscode